/*********************Jquery Datepicker stylesheet******************************************************/

.ui-datepicker {
	display: none;
	padding: 15px 10px;
	width: 270px;
	background-color: #fff;
	border: 1px solid #9a9a9a;
	-webkit-box-shadow: #333 0 0 10px; /* FF3.5 - 3.6 */
	-moz-box-shadow: #333 0 0 10px; /* Saf3.0+, Chrome */
	box-shadow: #333 0 0 10px; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
	border-radius: 0 !important;
}
/* .ui-datepicker:after,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	
	background: url(../img/carousel-controls.png) no-repeat !important;

} */

/*datepicker header style*/
.ui-datepicker-header {
	font-size: 23px;
	font-weight: 400;
	margin-bottom: 5px;
}
.ui-datepicker-title {
	text-align: center;
}
.ui-datepicker-prev,
.ui-datepicker-next {
	display: inline-block;
	width: 23px;
	height: 23px;
	text-align: center;
	cursor: pointer;
	background-repeat: no-repeat;
	line-height: 600%;
	overflow: hidden;
	background: url(../img/calendar-arrows.png);
}

.ui-datepicker-prev {
	float: left;
	background-position: 0 0;
}
.ui-datepicker-prev.ui-state-disabled {
	background-position: 0 -28px;
}

.ui-datepicker-next {
	float: right;
	background-position: 0 -56px;
}
.ui-datepicker-next.ui-state-disabled {
	background-position: 0 -84px;
}

/*datepicker table style*/
.ui-datepicker table {
	width: 100%;
	position: relative;
}

.ui-datepicker th {
	font-weight: bold;
	padding: 5px;
	text-align: center;
	font-size: 10px;
	border-bottom: 1px solid #dadadc;
}
.ui-datepicker td {
	text-align: center;
}
.ui-datepicker td span,
.ui-datepicker td a {
	color: #252525;
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	width: 30px;
	font-size: 0.750em;
	border-radius: 18px;
	border: 1px solid #fff;
}

.ui-datepicker td a:hover{
	text-decoration: none !important;
	border: 1px solid #03406A;

}

.ui-datepicker-today a {
	border: 1px solid #03406A !important;
}

.ui-datepicker-unselectable .ui-state-default {
	color: #bababa;
}

.ui-datepicker-today a,
.ui-datepicker-today span { /* current day */
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}
.ui-datepicker-current-day a { /* selected date */
	color: #fff !important;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	background-color: #03406A;
	border: 1px solid #03406A;
}
.ui-datepicker-due-date a { /* bill due date */
	border: 2px solid #00892d;
	-moz-border-radius: 18px;
	-webkit-border-radius: 18px;
	border-radius: 18px;
}


/* date picker modal display for mobile devices */
@media screen and (max-width: 767px) {
	.datepicker-modal-component {
		position: absolute;
		z-index: 2002;
		background-color: #fff;
		border: 1px solid #9a9a9a;
		-webkit-box-shadow: #888 10px 10px 10px; /* FF3.5 - 3.6 */
		-moz-box-shadow: #888 10px 10px 10px; /* Saf3.0+, Chrome */
		box-shadow: #888 10px 10px 10px; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
		font-size: 18px;
	}
	.datepicker-modal-component .datepicker-modal-component-content {
		margin: 30px 30px 40px;
	}
	.datepicker-modal-component .datepicker-modal-component-title {
		font-family: "open_sansregular", Arial, Helvetica, Sans-serif;
		font-size: 2.143em; /* 14*2.143 = 30.002px; base font-size taken as 14px; */
		line-height: .967em; /* 29px */
		margin: 30px 30px 50px;
	}
	.datepicker-modal-component .datepicker-modal-component-content .modal-inline-content > h2 {/* allow for title to be passed in content area instead of in title tag component and look like H1 */
		font-family: "open_sansregular", Arial, Helvetica, Sans-serif;
		font-size: 2.143em; /* 14*2.143 = 30.002px; base font-size taken as 14px; */
		line-height: .967em; /* 29px */
		margin-bottom: 50px;
	}
	.datepicker-modal-component .datepicker-modal-component-head {
		position: relative;
		border-bottom: 1px solid #b7b7b7;
		height: 67px;
	}
	.datepicker-modal-component .datepicker-modal-component-head span.mpick-date-close {
		position: absolute;
		top: 20px;
		right: 30px;
		width: 27px;
		height: 27px;
		background: url(../img/close.png) no-repeat;
		cursor: pointer;
	}

	.datepicker-modal-component .datepicker-modal-component-buttons {
		border-top: 1px solid #b7b7b7;
		margin: 65px -30px 0px;
		padding: 10px 0 0;
	}

	/* loading date picker modal */
	.datepicker-modal-component .datepicker-modal-component-title h3.loading-title {
		font-family: "open_sansregular", Arial, Helvetica, Sans-serif;
		background: url(../img/loading-whitebg.gif) no-repeat top center;
		padding-top: 40px;
		text-align: center;
	}
	.datepicker-modal-component .datepicker-modal-component-content .loading-message p {
		text-align: center;
	}

	.modal-inline-content {
		display: none;
	}
	.datepicker-modal-component-content .modal-inline-content {
		display: block;
	}
	.datepicker-modal-component .ui-datepicker {
		left: -20px !important;
		position: relative !important;
		top: 0 !important;
		z-index: 0 !important;
		border: none !important;
		border-radius: none !important;
		box-shadow: none !important;
		width: 104% !important;
	}
	.date-modal-button, .date-modal-close {
		margin: 20px 20px 0px !important;
	}
	.datepicker-modal-component .ui-datepicker:after {
		left: -40px;
	}

}