<h1>Login</h1>
			<div class="login-fields">

				<p>Please provide your details</p>

				<div class="field">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" value="" placeholder="Username" class="login username-field" required autofocus />
				</div> <!-- /field -->

				<div class="field">
					<label for="password">Password:</label>
					<input type="password" autocomplete="off" id="password" name="password" value="" placeholder="Password" class="login password-field" required />
				</div> <!-- /password -->

			</div> <!-- /login-fields -->