/* html {
    margin-top: 40px !important;
  } */
  .create-panel {
    /* background: -webkit-gradient(linear,left top, left bottom,from(#045690),to(#0679ca)) repeat 0 0 rgba(0,0,0,0) !important;
    background: -o-linear-gradient(#045690,#0679ca) repeat 0 0 rgba(0,0,0,0) !important;
    background: linear-gradient(#045690,#0679ca) repeat 0 0 rgba(0,0,0,0) !important; */
  }
input[type="checkbox"].ref-input {
    position: absolute;
    width: 14px;
    height: 14px;
    overflow: hidden;
    margin: -7px 0 0;
    padding: 0;
    outline: 0;
    opacity: 0;
    margin-top: 2px;
}
input[type="checkbox"].ref-input + label::before {
    background-image: url(../img/form-fields-biz.png);
    
}

input[type="checkbox"].ref-input + label::before{
    display: inline-block;
    width: 24px ;
    height: 24px ;
    margin: -3px 4px -2px -15px ;
    margin-bottom: -15px ;
    background-position: 0 -112px;
    background-repeat: no-repeat;
    content: " ";
    vertical-align: top;
    background-size: 400px 400px;
}

input[type="checkbox"].ref-input:checked + label::before{
    background-position: 0 -169px;
}

body .fin-btn-div .btn{
    height: 38px;
    border-radius: 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding: 7px 20px;
    line-height: 22px;
    font-weight: 600;
    font-size: 16px;
}
span.tooltip{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-size: 14px;
}