body{
    height: 100vh;
}

.navbar{
    background: #4a9d2b;
}

.wrapper{
    background-image: url("../img/bg.png");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   

}

.lady-img{
    position: absolute;
    top: -62px;
    left: -305px;
    /* height: 990px; */
}

p{
    color: #fff;
}

.left-top{
    transform: rotate(-17deg);
    text-align: center;
    margin-top: 70px;
    margin-left: 25px;
}

.left-top p{
    margin-bottom: 0;
    letter-spacing: 3px;
    font-family: sans-serif;
    font-size: 20px;
}

.left-top p b{
    font-size: 40px;
    font-weight: 800;
    letter-spacing: 2px;
}

.left-bottom{
	position: absolute;
    top: 130px !important; 
    left: 70px;
    background: #0000004f;
    padding: 30px;
    z-index: 1;
}

.left-bottom h3{
    font-size: 2.5em;
}

.left-bottom h3,
.left-bottom h2,
.left-bottom p{
	color: #fff;
}

.left-bottom .left-p{
	text-align: end;   
}

.left-bottom .left-p p{
	margin-bottom: 0;
}

.left-bottom .right-h{
    margin-top: 15px;
    text-align: center;
}

.left-bottom .right-h h2{
	    font-size: 2.25em;
    	font-weight: 800;
}

.mb-4{
    margin-bottom: 20px;
}

.right-top h1,
.right-top h3{
    color: #fff;
}

.right-top{
	text-align: center;
    margin-top: 140px;
}

.right-top h1{
	font-size: 65px;
    font-weight: 400;
    letter-spacing: 2px;
}

.right-top h3{
	font-weight: 300;
	letter-spacing: 1px;
}

.btn-primary{
    background: #096836;
    border-color: #096836;
}

.right-top a{
    margin-top: 15px;
    margin-bottom: 50px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, 
.btn-primary:not(:disabled):not(.disabled):active:focus, 
.show>.btn-primary.dropdown-toggle:focus{
    box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, 
.btn-primary:not(:disabled):not(.disabled):active, 
.show>.btn-primary.dropdown-toggle{
    color: #fff;
    background-color: #096836;
    border-color: #096836;
}

.btn-primary:hover{
    color: #fff;
    background-color: #064e28;
    border-color: #064e28;
}

.btn-primary.focus, 
.btn-primary:focus{
    box-shadow: none;
}

form{
    margin-left: 140px;
}

.in-btn{
    position: relative;
    float: left;
}

.right-top .small p{
    font-size: 14px;
    margin-bottom: 0;
    text-align: initial;
}



@media (min-width:1366px)  {

    .lady-img{
        position: absolute;
        top: -76px;
        height: 100vh !important;
        
    }

    .left-top p{
        font-size: 18px;
    }

    .left-top p b{
        font-size: 30px;
    }

    .left-bottom{
        position: absolute;
        top: 181px;
        width: auto;
        left: 15px;
        /* right: 15px; */
        padding: 15px;
    }

    .right-top{
        position: relative;
        padding: 20px;
        margin-top: 75px;
    }

    .right-top h1{
        font-size: 45px;
    }

    .right-top a{
        margin-bottom: 25px;
    }

    form{
        margin-left: 60px;
    }

    .right-top .small p{
        font-size: 10px;
        margin-bottom: 0;
        text-align: initial;
    }

}

@media (min-width: 1367px){
    .wrapper{
        position: relative;
        height: 100vh !important;
    }

    section{
        position: absolute;
        top: 0px;
        width: 100%;
    }

    .lady-img{
        position: absolute;
        top: 0 !important;
        height: 100vh;
    }

    .pt-col{
        padding-top: 115px;
    }

    .left-top p{
        font-size: 18px;
    }
    
    .left-top p b{
        font-size: 30px;
    }

    .left-bottom h3{
        font-size: 35px;
    }

    .left-bottom .left-p p{
        font-size: 18px;
    }
}

@media (max-width: 768px) and (min-width: 768px){
    .content{
        width: 100%;
    }
}

/* @media (max-width:768px) and (min-width:600px) {
        .wrapper{
            width: max-content;
            height: auto;
        }
    
        .lady-img{
            position: absolute;
            top: 0px;
            left: -262px;
            height: 600px !important;
        }
    
        .left-top{
            position: relative;                       
            margin-left: 0;
            padding: 8px;
        }
    
        .left-top p{
            font-size: 10px;
        }
        
        .left-top p b{
            font-size: 20px;
        }
    
        .left-bottom{
            position: absolute;
            top: 181px;
            width: auto;
            left: 15px;
            right: 15px;
            padding: 15px;
        }
    
        .left-bottom h3{
            text-align: center;
            font-size: 25px;
        }

        .left-bottom .left-p p{
            font-size: 14px;
        }

        .left-bottom .right-h h2{
            font-size: 2em ;
        }
    
        .left-bottom .right-h{
            text-align: center;
        }
    
        .right-top{
            position: relative;
            top: 335px;
            background: #c1c1c1; 
            padding: 20px;
        }

        .right-top h1{
            font-size: 45px;
        }

        form{
            margin-left: 0px;
        }
    
        .right-top .small p{
            text-align: end;
            font-size: 15px;
        }
       
} */

@media only screen and (max-width: 600px) {
    .wrapper{
        width: max-content;
        height: auto;
    }

    .lady-img{
        position: absolute;
        top: -20px;
        height: 790px !important;
        left: 0;
    }

    .left-top{
        transform: none;
        position: relative;
        top: 925px;
        background: #d8d8d8;
        margin-left: 0;
        padding: 8px;
    }

    .left-top p{
        color: #096836;
    }

    .left-bottom{
        position: absolute;
        top: 950px;
        width: auto;
        left: 15px;
        right: 15px;
    }

    .left-bottom h3{
        text-align: center;
    }

    .left-bottom .right-h{
        text-align: center;
    }

    .right-top{
        position: relative;
        top: 1165px;
        background: #c1c1c1; 
        padding: 20px;
    }

    form{
        margin-left: 0px;
    }

    .right-top .small p{
        text-align: end;
        font-size: 15px;
    }
  }

/* Mobile section */

@media (max-width:768px){
    .mobi-wrapper{
        display: block;
    }

    .wrapper{
        display: none;
    }
}

@media (min-width:769px){
    .mobi-wrapper{
        display: none;
    }

    .wrapper{
        display: block;
    }
}

@media (max-width: 768px) {
    .mobi-wrapper{
        position: relative;
        width: 100%;
    }

    .navbar{
        z-index: 1;
    }

    .mob-img{
        position: relative;
        float: right;
        padding-top: 50px;
    }

    .name-tag{
        transform: rotate(-11deg);
        text-align: center;
    }

    .name-tag p{
        margin-bottom: 0;
        font-size: 10px;
    }

    .name-tag p b{
        font-size: 14px;
    }
    
    .content{
        position: absolute;
        z-index: 1;
        padding-top: 20px;
    }

    .content .row{
        margin-right: 0;
    }

    .mobi-wrapper::after {
        content:"";
        display: block;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0 / 57%)
    }

    .content .top{
        margin-top: 35px;
    }

    .content .top h4,
    .content .top p,
    .content .top h3{
        color: #fff;
    }

    .content .top h4{
        padding-left: 90px;
        text-align: left;
        margin-bottom: 15px;
    }

    .content .top p{
        text-align: end;
        margin-bottom: 0;
        font-size: 10px;
    }

    .content .bottom{
        text-align: center;
        margin-top: 50px;
    }

    .content .bottom h6,
    .content .bottom p,
    .content .bottom h3{
        color: #fff;
    }

    .content .bottom h3{
        font-weight: 400;
    }

    .content .bottom h6{
        font-weight: 300;
        margin-bottom: 25px;
    }

    form{
        margin: 50px 32px 28px 50px;
    }

    .content .bottom .small p{
        text-align: end;
        font-size: 7px;
        margin-bottom: 0;
    }

    .content .bottom .in-btn{
        padding: 5px 10px;
    }
    
  }


/* Mobile section End*/
