meter {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    margin: 0 auto 1em;
    width: 100%;
    height: .5em;

    /* Applicable only to Firefox */
/*    background: none;
    background-color: rgba(255, 255, 255, 0.1);*/
  background: none;
 /* background-color: rgba(0, 0, 0, 0.1);*/
  background-color: rgba(255, 255, 255, 0.1);
}

meter::-webkit-meter-bar {
  background: none;
 /* background-color: rgba(0, 0, 0, 0.1);*/
  background-color: rgba(255, 255, 255, 0.1);
}


/*meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(255, 255, 255, 0.1);
}*/

meter[value="1"]{ background: red; }
meter[value="2"]{ background: yellow; }
meter[value="3"]{ background: orange; }
meter[value="4"]{ background: green; }

meter[value="1"]{ background: red; }
meter[value="2"]{ background: yellow; }
meter[value="3"]{ background: orange; }
meter[value="4"]{ background: green; }

.feedback {
    color: #9ab;
    font-size: 90%;
    padding: 0 .25em;
    font-family: Courgette, cursive;
    margin-top: 1em;
}

meter[value="1"] {
    width: 25% !important;
}
meter[value="2"] {
    width: 50% !important;
}
meter[value="3"] {
    width: 75% !important;
}
meter[value="4"] {
  /*  width: 50% !important;*/
}