@font-face{font-family:'VM Circular Chat Book';src:url('../font/sky_med-webfont.woff2') format('woff2');font-weight:normal;font-style:normal}
@font-face{font-family:'VM Circular Whisper';src:url('../font/sky_reg-webfont.woff2') format('woff2');font-weight:normal;font-style:normal}

.net_div_child {
    display: inline-block;
    min-width: 90px;
}
.net_div {
    display: inline-block;
}
#myTabDash, #myTabContentDASH {
    margin-left: -10px !important;
    width: auto !important;
}

@media screen and (max-width: 480px) {
    .theme_response{
        margin-left: 0px !important;
    }
}
#template_image img {
    width: auto !important;
}
.theme_response{
        margin-left: 190px;
    }
@media (max-width: 767px){
.input-prepend input[class*="span"], .input-append input[class*="span"] {
    width: 158px !important;
}
#passcode_submit{
    /*network.php*/
    width: 158px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    margin-top: 10px;
}
}
@media (max-width: 393px){
.input-prepend input[class*="span"], .input-append input[class*="span"] {
    width: 100% !important;
}
}
@media (max-width: 393px){
input[class*="span"], select[class*="span"], textarea[class*="span"],/*network_pr.php*/meter[class*="span"], .uneditable-input {
    width: 100% !important;
}
.input-prepend{
    width: 100% !important;
    }
.input-append{
    width: 100% !important;
}
#passcode_submit{
    /*network.php*/
    width: 100% !important;
}
}

td > a{
    min-width: 70px;
}
@media screen and (max-width: 660px) and (min-width: 480px){
.multi_sele_parent{
    display: block !important;
}
.ms-container{
    width: 100% !important;
}
}
@media (max-width: 455px){
   .multi_sele_parent{
    display: block !important;
}
.ms-container{
    width: 100% !important;
}
}
@media (min-width: 768px){
    #passcode_submit{
    /*network.php*/
    margin-left: 10px;
}
}
/*network_pr.php*/
meter {
    display: block !important;
    width: 300px;
}



.toggle1{
    width: 74px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 1%;
    background: #eeeeee;
    padding: 0px;
     -webkit-box-shadow: 1px 1px 1px #8e8e8e;
    box-shadow: 1px 1px 1px #8e8e8e;
}

.toggle1-l{
    width: 110px;
    height: 37px;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-left: 1%;
    background: #eeeeee;
    padding: 0px;
     -webkit-box-shadow: 1px 1px 1px #8e8e8e;
    box-shadow: 1px 1px 1px #8e8e8e;
}


.toggle1-on{
    color: white;
    line-height: 37px;
    display: inline-block;
    width: 50%;
    height: 37px;
    text-align: center;
    font-size: 14px !important;
    background: #8f2c82;
    float: left;
}

.toggle1-on-dis{
    color: #555555;
    line-height: 37px;
    display: inline-block;
    width: 50%;
    height: 37px;
    text-align: center;
    font-size: 14px !important;
    background: #eeeeee;
    float: left;
}

.toggle1-off{
    display: inline-block;
    color: white;
    line-height: 37px;
    width: 50%;
    height: 37px;
    text-align: center;
    font-size: 14px !important;
    background: #8f2c82;
   /*  margin-left: -1px; */
    clear: both;
}

.toggle1-off-dis{
    display: inline-block;
    color: #555555;
    line-height: 37px;
    width: 50%;
    height: 37px;
    text-align: center;
    font-size: 14px !important;
    background: rgb(238, 238, 238);
    /* margin-left: -1px; */
    clear: both;
}

.toggle1 input[type="checkbox"], .toggle1-l input[type="checkbox"]{
    position: absolute;
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin: -3px 0 0;
    padding: 0;
    z-index: -3333333;
    outline: 0;
    opacity: 0;
    margin-top: 6px;
}


div.tablesaw-columntoggle-popup input[type="checkbox"]{
    display: inline-block;
}

.widget, .widget-table{
    overflow: inherit !important;
}

.tablesaw-columntoggle-btnwrap.visible .tablesaw-columntoggle-popup{
    top: 40px !important;
}

.widget-header.home{
    background: none !important;
    border: none !important;
}

.widget-header h2 {
    font-size: 14px !important;
    margin-left: 10px !important;
}


.toggle1:hover{
    cursor: pointer;
}

.btn-primary:not(.toggle-on):not(.toggle-off):not(.toggle)  {
    border: 1px solid #9e2a75;
    background-color: #ffffff !important;
    font-size: 1.125rem ;
    line-height: 1.8875rem ;
    padding: .25rem 1.875rem ;
    color: #9e2a75 !important;
}

.btn-primary:not(.toggle-on):not(.toggle-off):not(.toggle):hover{
    background-color: #9e2a75 !important;
    color: #ffffff !important;
}
.btn-warning:not(.toggle-on):not(.toggle-off):not(.toggle)  {
    border: 1px solid #9e2a75;
    background-color: #ffffff !important;
    font-size: 1.125rem ;
    line-height: 1.8875rem ;
    padding: .25rem 1.875rem ;
    color: #9e2a75 !important;
}

.btn-warning:not(.toggle-on):not(.toggle-off):not(.toggle):hover{
     background-color: #9e2a75 !important;
    color: #ffffff !important;
}
.btn-danger:not(.toggle-on):not(.toggle-off):not(.toggle)  {
    border: 1px solid #9e2a75;
    background-color: #ffffff ;
    font-size: 1.125rem ;
    line-height: 1.8875rem ;
    padding: .25rem 1.875rem ;
    color: #9e2a75 !important;
}

.btn-danger:not(.toggle-on):not(.toggle-off):not(.toggle):hover{
     background-color: #9e2a75 !important;
    color: #ffffff !important;
}

.btn-success:not(.toggle-on):not(.toggle-off):not(.toggle) {
    border: 1px solid #9e2a75;
    background-color: #ffffff;
    font-size: 1.125rem ;
    line-height: 1.8875rem ;
    padding: .25rem 1.875rem ;
    color: #9e2a75 !important;
}

.btn-success:not(.toggle-on):not(.toggle-off):not(.toggle):hover{
     background-color: #9e2a75 !important;
    color: #ffffff !important;
}

.btn-info:not(.toggle-on):not(.toggle-off):not(.toggle) {
    border: 1px solid #9e2a75;
    background-color: #ffffff !important;
    font-size: 1.125rem ;
    line-height: 1.8875rem ;
    padding: .25rem 1.875rem ;
    color: #9e2a75 !important;
}
.toggle-on,.toggle, .toggle-off{
background-color: #9e2a75 !important;
    color: #ffffff !important;
}

#sess-check-div .ui-dialog-content {
    max-height: none !important;
}

.btn-info:not(.toggle-on):not(.toggle-off):not(.toggle):hover{
     background-color: #9e2a75 !important;
    color: #ffffff !important;
}

.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover{
    background-image: none !important;
    background-position: inherit !important; 
    text-shadow: none !important;
}

.form-actions{
        background-color: rgb(255, 255, 255) !important;
}
a {
    color: #fff;
    text-decoration: none;
}

a:hover, a:focus {
    color: #fff;
    text-decoration: underline;
}



body {
        font-family: 'VM Circular Whisper',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #3e364a;
    background-color: #fff;
}

p {
        font-family: 'VM Circular Chat Book',Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-weight: 500 !important;
}

.subnavbar .container>ul>li>a{
    color: #fff !important;
}

.subnavbar .container>ul>li.active>a{
    color: #fff !important;
    border-bottom: none !important;
}



.subnavbar .container>ul>li>a{
    font-weight: 500 !important;
        font-family: 'VM Circular Chat Book',Helvetica,Arial,sans-serif;
}

.subnavbar .container>ul>li>a>span{
        font-family: 'VM Circular Chat Book',Helvetica,Arial,sans-serif;
            font-size: 1.0625rem !important;
    line-height: 1.59375rem !important;
    color: #fff !important;
}

.subnavbar .container>ul>li>ul{
    font-size: 13px !important;
}

.new{
    color: #591152 !important;
    font-size: 0.96rem;
}

.new:hover {
    color: #591152 !important;
  
}

.subnavbar .container>ul>li{
    background-color: transparent !important;
}

.subnavbar-inner{
        background-color: #9e2a75 !important;
    background-size: 100% 100% !important;
}

.navbar-inner{
         background-color: #ffffff !important;
}

.subnavbar .container>ul>li>ul{
    background-color: rgb(252, 235, 244) !important;
}

.navbar .brand font{
    font-weight: 500 !important;
    color: #eaeaea !important;
    font-size: 18px !important;
}

.navbar .brand{
    margin-top: -5px !important;
    color: #333 !important;
}

.logo_img{
    max-width: 150px !important;
}

.widget-header.home{
    background: none !important;
    border: none !important;
}

.widget-header h2 {
    font-size: 14px !important;
    margin-left: 10px !important;
}
.footer-inner{
        background: #3e364a !important;
}
.footer, .extra{
    border-top: none !important;
    border-bottom: none !important;
    }
    .extra-inner{
            color: #fff !important;
    background: #dfdcdf !important;
    }
.table .btn:not(.toggle-on):not(.toggle):not(.toggle-off):not(.toggle-handle) {
    
    background: none !important;
    color: #9e2a75 !important;
    font-size: 0.95rem;
    padding-left: 5px !important;
    border: none !important;
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    text-align: left !important;
    margin: 0;
}
.table .btn:not(.toggle-on):not(.toggle):not(.toggle-off):not(.toggle-handle)::after{
  position: relative;
    display: inline-block;
    font-family: FontAwesome;
    content: "\f054";
    line-height: 0;
    font-size: .875rem;
    width: .8125rem;
    height: .9375rem;
    top: .0625rem;
    left: .625rem;
    text-decoration: none;
}


i[class^="btn-icon-only icon"] {
    display: none !important;
}

.btn:focus {
    outline: none !important;
}
.dataTables_wrapper .row {
    margin-left: 0px;
}
.dataTables_filter, .dataTables_length {
    display: none;
}

.subnavbar .container>ul>li:hover:after{
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        margin-top: 2px;
        background: linear-gradient(to right,rgba(0, 0, 0, 0.87) 0%,rgba(255,255,255,0.83) 100%,#464646 100%);
        /* position: absolute; */
        bottom: 1px;
        left: 0;
        opacity: 1;
}

.widget-header{
    background: #ffffff !important;
    border: none !important;
}
.nav-tabs>.active>a, .nav-tabs>.active>a:hover{
        background-color: #ffffff;
    border: 1px solid rgb(255, 199, 250);
    border-bottom-color: transparent;
    cursor: default;
    background: #ffffff;
    /* font-weight: bold; */
    font-size: 1.0;
    color: #591152;
}
.nav-tabs>li>a{
        padding-top: 8px;
    padding-bottom: 8px;
    background: #fcebf4;
    line-height: 18px;
    border: 1px solid #ffe7f4;
    background: #fcebf4;
    color: #591152;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;
    border-bottom-color: #fff8f8;
}
.widget-header h2 ,.widget-header h3{

    font-size: 1.15rem;
    font-weight: 800;
    color: #591152;
    font-family: 'VM Circular Chat Book',Helvetica,Arial,sans-serif;

}
.widget-content{
    border: none !important;
    padding: 10px 0px 15px !important;
}
.widget-table .widget-content{
    padding: 0px !important;
}
select:not(.mini_select){
  background: url(../img/form-fields-biz.png) 0 -37px no-repeat,url(../img/form-fields-biz.png) 100% 0 no-repeat;
   -webkit-appearance: none;
    -moz-appearance: none !important; 
   padding: 4px 38px 4px 8px;

    height: 37px;
   /*background-color: transparent;
background-image: url("../img/header/form-fields-biz.png"), url("../img/header/form-fields-biz.png");
background-repeat: no-repeat, no-repeat;
background-attachment: scroll, scroll;
background-clip: border-box, border-box;
background-origin: padding-box, padding-box;
background-position-x: 0px, 100%;
background-position-y: -37px, 0px;
background-size: auto auto, auto auto;*/
/* width: inherit !important; */
    /* min-width: 180px; */
}

input[type="checkbox"]:checked + label::before {
    background-position: 0 -358px;
}

input[type="checkbox"]:checked:focus + label::before {
    background-position: 0 -419px;
}

input[type="checkbox"]:focus + label::before {
    background-position: 0 -298px;
}

input[type="checkbox"] + label::before, input[type="radio"]:not(.hide_rad) + label::before {
    background-image: url(../img/form-fields-biz.png);
}
input[type="checkbox"] + label::before {
    background-position: 0 -238px ;
}
input[type="checkbox"] + label::before{
    display: inline-block;
    width: 39px;
    height: 39px;
    margin: -6px 9px -6px -6px;
    margin-bottom: -15px;
    background-position: 0 -238px;
    background-repeat: no-repeat;
    content: " ";
    vertical-align: top;
}

input[type="checkbox"], input[type="radio"]:not(.hide_rad) {
    position: absolute;
    width: 28px;
    height: 28px;
    overflow: hidden;
    margin: -3px 0 0;
    padding: 0;
    outline: 0;
    opacity: 0;
    margin-top: 6px;
}

input[type="radio"]:not(.hide_rad) + label::before {
    display: inline-block;
    width: 39px;
    height: 39px;
    margin: -6px -6px -6px -6px;
    background-position: 0 -538px;
    background-repeat: no-repeat;
    content: " ";
    vertical-align: middle;
}

input[type="radio"]:checked:not(.hide_rad) + label::before {
    background-position: 0 -658px;
}

.navbar .nav a {
    font-size: 13px !important;
}

div.tablesaw-columntoggle-popup input[type="checkbox"]{
    position: static !important;
    width: 13px !important;
    height: 15px !important;
    overflow: hidden !important;
    margin: 0 0px 0 0 !important;
    padding: 0px !important;
    /* outline: initial !important; */
    opacity: 0 !important;
    display: inline-block;
}

div.tablesaw-columntoggle-popup input[type="checkbox"]+ label::before{
    display: inline-block;
    width: 24px !important;
    height: 24px !important;
    margin: -3px 4px -2px -15px !important;
    margin-bottom: -15px !important;
    background-position: 0 -112px;
    background-repeat: no-repeat;
    content: " ";
    vertical-align: top;
    background-size: 400px 400px;
}

div.tablesaw-columntoggle-popup input[type="checkbox"]:checked + label::before{
    background-position: 0 -169px;
}

.tablesaw-bar label {
    line-height: 10px !important;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn{
    height: 28px !important;
}

.tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn.down:before{
    bottom: 9px !important;
}
.widget-header h2 {
    position: relative;
    top: 2px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 800;
    color: #525252;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}
.alert{
	text-align: left !important;
}
div[id^="style_img"] {
	display: none !important;
}
@media (max-width: 979px){
    .main {
        margin-top: 55px;
    }
}

@media (max-width:480px){

    
    .tablesaw-minimap-mobile .tablesaw-advance{
        display: inline-block;
        float: right;
        text-align: right;
        width: 100%;
    }
    .tablesaw-minimap-mobile .tablesaw-bar .tablesaw-advance a.tablesaw-nav-btn{
        margin-top: 2px;
        margin-bottom: 0px;
    }

    .tablesaw-minimap-mobile .tablesaw-columntoggle-popup{
        text-align: left;
    }
    .tablesaw-minimap-mobile .tablesaw-advance.minimap{
        display: inline-block;
        float: right;
        height: 10px;
        margin-top: -5px;
        width: auto
    }
    .tablesaw-minimap-mobile .tablesaw-bar{
        top: -50px;
    }

    .tablesaw-minimap-mobile .widget-header{
        height: 50px;
    }

}

@media (min-width: 767px) {
    div.inline-btn, a.inline-btn, button.inline-btn, input[type="submit"].inline-btn{
        margin-left: 10px !important;
        margin-top: 0px !important;
    }

    div.inline-btn, select.inline-btn, input.inline-btn, button.inline-btn, a.inline-btn{
        display: inline-block !important;
    }
}

@media (max-width: 767px) {
    div.inline-btn, a.inline-btn, button.inline-btn, input[type="submit"].inline-btn{
        margin-top: 10px !important;
        margin-left: 0px !important;
    }

    div.inline-btn, select.inline-btn, input.inline-btn, button.inline-btn, a.inline-btn{
        display: block !important;
    }
}

.hidden{
    display: none !important;
}


/* easy confirm styles */

.ui-widget-content{
  background: none !important;
  background-color: white !important;
}

.ui-widget-header{
  background: none !important;
  color: #252525 !important;
  border: none !important;
}

.ui-dialog{
  padding-top: 15px !important;
  padding-left: 30px !important;
  padding-right: 25px !important;
  padding-bottom: 30px !important;
  border-radius: initial !important;
}

@media screen and (min-width : 500px){
  .ui-dialog{
    min-width: 400px;
  }
  .ui-dialog .ui-dialog-title{
    margin-top: 15px !important;
  }
}

button[class*="close"]:not(.fancy_close) {
    display: none !important;
}

.ui-dialog button.ui-dialog-titlebar-close{
  display:  inline-block !important;
  background: url(../img/close.png) no-repeat !important;
      background-position: center;
    background-size: cover !important;
    height: 30px !important;
    width: 30px !important;
  display: inline-block;
  margin-top: 0px;
  border: none !important;
  border-radius: initial;
  top: 0px !important;
  margin: 0px !important;
  /*! transform: scale(2); */
}

button[class*="close"]:not(.fancy_close):hover{
  border: none !important;
}

.ui-dialog .ui-dialog-titlebar{
  padding:  0px !important;
      font-size: 1.25rem;
}

.ui-dialog .ui-dialog-content{
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  padding-left: 0px !important;
  padding-right: 30px !important;
  font-size: 1em;
  max-height: initial !important ;
}

.ui-widget-content{
  border: none !important;
}

.ui-dialog .ui-dialog-buttonpane{
  padding: 0px !important;
  padding-right: 5px !important;
}

.ui-dialog{

  font-family: 'VM Circular Whisper',Helvetica, Arial, sans-serif !important;
}


.ui-dialog-title{
    /* font-weight: initial !important; */
}

.ui-dialog .ui-dialog-buttonpane button{
  margin: 0px !important;
  margin-left: 5px !important;
  height: 40px;
  font-size: 1rem;
  border-radius: 5px !important;
  background: #ffffff !important;
  color: #9e2a75 !important;
  border: 1px solid #9e2a75 ;
  font-weight: 600;
  font-family: 'VM Circular Whisper',Helvetica, Arial, sans-serif !important;
}

.ui-dialog .ui-dialog-buttonpane button:hover{
    background-color: #9e2a75 !important;
    color: #ffffff !important;
}

.ui-dialog-buttonset button:nth-child(2){
  
  border-radius: 5px !important;
  background: #ffffff !important;
  color: #9e2a75 !important;
  border: 1px solid #9e2a75 ;
}

.ui-button-icon-only .ui-icon{
  display: none !important;
}

.ui-dialog .ui-dialog-title{
  margin-top: 30px;
      font-size: 1.25rem;
  color: #591152;
  line-height: 40px;
}

.ui-front {
  border: 1px solid #c8c6ca !important;
}

.ui-dialog-buttonpane{
  margin-top: 10px !important;
}


.ui-state-hover{
    border: 1px solid #cccccc !important;
}

.ui-dialog button{
    border-radius: 0px !important;
    outline: none !important;
}

.ui-state-focus{
    outline: none !important;
    border: 1px solid #cccccc !important;
}

/* end easy confirm styles */

.help-block:before{
        position: relative;
    display: inline-block  !important;
    font-family: FontAwesome;
    content: "\f071";
    line-height: 0;
    font-size: 1.1rem;
    /* width: .8125rem; */
    /* height: .7rem; */
    top: .0625rem;
    left: -0.4rem;
    text-decoration: none;
}

form .bubble-pointer:before, form .bubble-pointer:after{
             display: inline-block  !important;
        }


.help-block{
        display: inline-block;
    margin-left: 10px;
        color: #ff072e !important;
}

.help-block p{
    display: inline-block;
    font-size: 0.9rem !important;
}



.alert{
    padding: 12px 35px 12px 14px !important;
}

.alert-success {
     background-color: #eefcff !important;
    border-color: #29a585 !important;
    border-style: solid !important;
    border-width: 1px 0 !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #333 !important;
}

.alert-danger, .alert-error{
    background-color: #fdf2f5 !important;
    border-color: #ff0a0a !important;
    border-style: solid !important;
    border-width: 1px 0 !important;
    -webkit-border-radius: 0px !important;
    border-radius: 0px !important;
    color: #ff0a0a !important;
}

.dropdown-menu .active>a:hover, .dropdown-menu li>a:hover {
    background: #9e2a75 !important;
}
.navbar .nav>li>a {
    color: #000000 !important;
}

.navbar .nav .dropdown-toggle .caret, .navbar .nav .open.dropdown .caret{
        border-top-color: #000000 !important;
    border-bottom-color: #000000 !important;
}

@media (max-width: 979px){
.navbar .nav>li>a, .navbar .dropdown-menu a {
    color: #333 !important;
}



}

@media (max-width: 979px){
.navbar .nav>li>a:hover, .navbar .dropdown-menu a:hover {
    background-color: #c10041 !important;
}
}

/*********************Jquery Datepicker stylesheet******************************************************/

.ui-icon{
    display: none !important;
}
.ui-widget-header {
    background: white !important;
    border: none !important;
    color: #252525 !important;
}
.ui-datepicker {
    display: none;
    padding: 15px 10px !important;
    width: 270px !important;
    background: #fff !important;
    border: 1px solid #9a9a9a !important;
    -webkit-box-shadow: #333 0 0 10px !important; /* FF3.5 - 3.6 */
    -moz-box-shadow: #333 0 0 10px !important; /* Saf3.0+, Chrome */
    box-shadow: #333 0 0 10px !important; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
    border-radius: 0 !important;
    font-family: inherit !important;
}
/* .ui-datepicker:after,.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    
    background: url(../img/carousel-controls.png) no-repeat !important;

} */

/*datepicker header style*/
.ui-datepicker-header {
    font-size: 23px !important;
    font-weight: 400 !important;
    margin-bottom: 5px !important;
}
.ui-datepicker-title {
    text-align: center !important;
    line-height: initial !important;
}
.ui-datepicker-prev,
.ui-datepicker-next {
    display: inline-block !important;
    width: 23px !important;
    height: 23px !important;
    text-align: center !important;
    cursor: pointer !important;
    background-repeat: no-repeat !important;
    line-height: 600% !important;
    overflow: hidden !important;
    background: url(../img/calendar-arrows.png) !important;
}

.ui-datepicker-prev {
    float: left !important;
    background-position: 0 0 !important;
}

.ui-datepicker-prev.ui-state-disabled {
    background-position: 0 -28px !important;
}

.ui-datepicker-next {
    float: right !important;
    background-position: 0 -56px !important;
}

.ui-datepicker-next.ui-state-disabled {
    background-position: 0 -84px !important;
}

/*datepicker table style*/
.ui-datepicker table {
    width: 100% !important;
    position: relative !important;
}

.ui-datepicker th {
    font-weight: bold !important;
    padding: 5px !important;
    text-align: center !important;
    font-size: 10px !important;
    border-bottom: 1px solid #dadadc !important;
}

.ui-datepicker td {
    text-align: center !important;
}

.ui-datepicker td span,
.ui-datepicker td a {
    
    display: inline-block !important;
    height: 30px !important;
    line-height: 30px !important;
    text-align: center !important;
    width: 30px !important;
    font-size: 0.750em !important;
    border-radius: 18px !important;
   
}

.ui-datepicker td a:not(.ui-state-highlight):not(.ui-state-active){
     background: none !important;
     border: 1px solid #fff !important;
     color: #252525 !important;
}



.ui-datepicker td a:hover{
    text-decoration: none !important;
    border: 1px solid #8f2c82 !important;

}

.ui-datepicker-today a {
    border: 1px solid #8f2c82 !important;
    background: none !important;
}

.ui-datepicker-unselectable .ui-state-default {
    color: #bababa !important;
}

.ui-datepicker-today a,
.ui-datepicker-today span { /* current day */
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    border-radius: 18px !important;
}
.ui-datepicker-current-day a { /* selected date */
    color: #fff !important;
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    border-radius: 18px !important;
    background: #8f2c82 !important
    border: 1px solid #8f2c82 !important;
}
.ui-datepicker-due-date a { /* bill due date */
    border: 2px solid #00892d !important;
    -moz-border-radius: 18px !important;
    -webkit-border-radius: 18px !important;
    border-radius: 18px !important;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
    background: #8f2c82 !important
}


/* date picker modal display for mobile devices */
@media screen and (max-width: 767px) {
    .datepicker-modal-component {
        position: absolute !important;
        z-index: 2002 !important;
        background-color: #fff !important;
        border: 1px solid #9a9a9a !important;
        -webkit-box-shadow: #888 10px 10px 10px !important; /* FF3.5 - 3.6 */
        -moz-box-shadow: #888 10px 10px 10px !important; /* Saf3.0+, Chrome */
        box-shadow: #888 10px 10px 10px !important; /* Opera 10.5, IE9, FF4+, Chrome 10+ */
        font-size: 18px !important;
    }
    .datepicker-modal-component .datepicker-modal-component-content {
        margin: 30px 30px 40px !important;
    }
    .datepicker-modal-component .datepicker-modal-component-title {
        font-family: "open_sansregular", Arial, Helvetica, Sans-serif !important;
        font-size: 2.143em !important; /* 14*2.143 = 30.002px; base font-size taken as 14px; */
        line-height: .967em !important; /* 29px */
        margin: 30px 30px 50px !important;
    }
    .datepicker-modal-component .datepicker-modal-component-content .modal-inline-content > h2 {/* allow for title to be passed in content area instead of in title tag component and look like H1 */
        font-family: "open_sansregular", Arial, Helvetica, Sans-serif !important;
        font-size: 2.143em !important; /* 14*2.143 = 30.002px; base font-size taken as 14px; */
        line-height: .967em !important; /* 29px */
        margin-bottom: 50px !important;
    }
    .datepicker-modal-component .datepicker-modal-component-head {
        position: relative !important;
        border-bottom: 1px solid #b7b7b7 !important;
        height: 67px !important;
    }
    .datepicker-modal-component .datepicker-modal-component-head span.mpick-date-close {
        position: absolute !important;
        top: 20px !important;
        right: 30px !important;
        width: 27px !important;
        height: 27px !important;
        background: url(../img/close.png) no-repeat !important;
        cursor: pointer !important;
    }

    .datepicker-modal-component .datepicker-modal-component-buttons {
        border-top: 1px solid #b7b7b7 !important;
        margin: 65px -30px 0px !important;
        padding: 10px 0 0 !important;
    }

    /* loading date picker modal */
    .datepicker-modal-component .datepicker-modal-component-title h3.loading-title {
        font-family: "open_sansregular", Arial, Helvetica, Sans-serif;
        background: url(../img/loading-whitebg.gif) no-repeat top center !important;
        padding-top: 40px !important;
        text-align: center !important;
    }
    .datepicker-modal-component .datepicker-modal-component-content .loading-message p {
        text-align: center !important;
    }

    .modal-inline-content {
        display: none !important;
    }
    .datepicker-modal-component-content .modal-inline-content {
        display: block !important;
    }
    .datepicker-modal-component .ui-datepicker {
        left: -20px !important;
        position: relative !important;
        top: 0 !important;
        z-index: 0 !important;
        border: none !important;
        border-radius: none !important;
        box-shadow: none !important;
        width: 104% !important;
    }
    .date-modal-button, .date-modal-close {
        margin: 20px 20px 0px !important;
    }
    .datepicker-modal-component .ui-datepicker:after {
        left: -40px !important;
    }



}