@font-face {
    font-family: 'Montserrat-Regular';
    src: url(../font/Montserrat-Regular.ttf) format('ttf'), url(../font/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url(../font/Montserrat-Light.ttf) format('ttf'), url(../font/Montserrat-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url(../font/Montserrat-Bold.ttf) format('ttf'), url(../font/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url(../font/Montserrat-ExtraBold.ttf) format('ttf'), url(../font/Montserrat-ExtraBold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url(../font/Montserrat-Medium.ttf) format('ttf'),url(../font/Montserrat-Medium.woff2) format('woff2');
    font-weight: 700;
    font-style: normal
}

font b{
    color: #000 !important;
}

#password-strength-meter, #password-strength-text, i[data-bv-icon-for="password"]{
  display: none !important;
}

.widget .widget-header{
    background: #000000 !important;
}

.widget .widget-header h3{
    color: #ffffff !important;
}
.logo-top-img{
    background: url(../img/logo.png?v=2);
    width: 220px;
    height: 109px;
    position: absolute;
    top: 2px;
    background-size: 100%;
    left: 50%;
    background-repeat: no-repeat;
    margin-left: -110px;
}

.verification .logo-top-img{
    background: url(../img/logo.png?v=2);
        width: 180px;
    height: 80px;
    position: absolute;
    top: 2px;
    background-size: 100%;
    left: 50%;
    background-repeat: no-repeat;
    margin-left: -94px;
}

h2{
    color: #000;
}

.reset_pwd .logo-top-img, .reset_pwd_admin .logo-top-img{
    background: url(../img/logo.png?v=2);
        width: 180px;
    height: 80px;
    position: absolute;
    top: 2px;
    background-size: 100%;
    left: 50%;
    background-repeat: no-repeat;
    margin-left: -94px;
}

body{
        background: #54585a  !important;
    font-family: Montserrat-Regular !important;
}

.logo-center{
        display: none;
}

.navbar .brand{
       /* background: url(../img/logo_desktop.png);*/
        background-repeat: no-repeat;
        width: 185px;
        white-space: nowrap;
        text-indent: -9999px;
        height: 18px;
        padding: 0px 20px 20px !important;
        background-size: contain;
        background-position: center;
}

.account-container{
      background-color: #D9D9D6 !important;
      width: 420px !important;
      box-shadow: none !important;
      border: none !important;
      position: relative;
      border-radius: 10px !important;
      padding-top: 120px;
}



.navbar-fixed-top .navbar-inner{
        background: #E57200 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
      height: 40px;
      padding: 10px 0 !important;
}

.navbar-fixed-top{
  display: none;
}
.login-fields input:not([type=radio]){
        background-color: #fff !important;
    border: 2px solid #F0F0F3 !important;
    box-shadow: none !important;
        padding: 7px 10px 7px 10px !important;
        background-image: none !important;
          width: 100% !important;
          border-radius: 10px;
          box-sizing: border-box;
          height: 36px;
}

@media (max-width: 480px){
.account-container {
    width: 100% !important;
    margin-top: 35px;
}
.login-fields input:not([type=radio]){
  width: 100% !important;
}
.btn {
    width: 100%;
}
}

.login-fields label{
    display: block !important;
    font-weight: normal;
    font-size: 14px;
    color: #191919;
}

.btn-primary{
    background-color: #E57200 !important;
     -webkit-box-shadow: none !important;
        box-shadow: none !important;
        font-family: Montserrat-Regular;
            font-size: 14px !important;
            font-weight: 400;
            padding-top: 4px !important;
            padding-bottom: 4px !important;
            border-radius: 72px!important;
          min-width: 90px;

}

.btn-primary[name="submitverify"]{
    width: auto
}

.btn-primary:hover{
    background-color: #E57200 !important;
    background-position: unset !important;
     -webkit-box-shadow: none !important;
        box-shadow: none !important;

}

.login-actions .btn{
    float: left;
}

input, textarea, select, .uneditable-input{
    border: 1px solid #8c8c8c !important;
}

a {
    color: #003594 !important;
    font-size: 14px;
    text-decoration: none;
    font-family: Montserrat-Regular;
    font-weight: bold;
}

a:hover{
    color: #003594;
    text-decoration: none !important;
}

.navbar .container {
    margin-left: 100px ;
    margin-right: 100px ;
    width: auto !important;
}

.content {
        padding: 20px !important;
    background: #fff;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

@media (max-width: 979px){
.navbar .container {
    padding: 10px !important;
     margin: 0px !important;
}
.navbar .brand{
    width: 70px;
    /*background-size: 119px;*/
        height: 20px;
        padding: 0px 0px 20px !important;
}

.navbar-fixed-top .navbar-inner{
      height: 60px;
    padding: 00px 0 !important;
}
}

.password-strength-main{
	width: 96%;
 	background-color: rgba(0, 0, 0, 0.1);
  	height: 7px;
	}
/*

@media (max-width: 380px) {
   .password-strength-main{
	width: 100% !important;

	}
}

@media (max-width: 768px) {
   .password-strength-main{
	width: 45% ;

	}
}
*/

.hr-lines{
    position: relative;
    max-width: 500px;
    text-align: center;
  }
  
  .hr-lines:before{
    content:" ";
    height: 2px;
    width: 40%;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
  }
  
  .hr-lines:after{
    content:" ";
    height: 2px;
    width: 40%;
    background: red;
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
  }
  
